h1,
.h1,
h2,
.h2 {
  font-family: 'Bellefair', serif;
}

h1,
.h1 {
  font-size: 150px;
}

h2,
.h2 {
  font-size: 100px;
}

h3,
.h3 {
  font-size: 56px;
}

h4,
.h4 {
  font-size: 32px;
}

h5,
.h5 {
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 4.75;
}

.sh1 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
}

.sh2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2.35;
}

.nav-text {
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7;
}