/* Site colors */
$cole: #0b0d17;
$light-plum: #d0d6f9;
$white: #fff;
$black: #000;


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

$bellefair: 'Bellefair', serif;
$barlow: 'Barlow Condensed', sans-serif;